@import "../scss/variables";

contact {
  display: block;
  height: 100%;
  background-color: $site-bg-color-200;

  .form-container {
    height: calc(100% - #{$material-navbar-height});
    padding: 25px;
    display: flex;
    overflow: auto;
  }

  form {
    background-color: $site-bg-color-100;
    box-shadow: $admin-card-box-shadow;
    border: $admin-card-border;
    width: 675px;
    max-width: 100%;
    padding: 25px;
    margin: auto;

    h1 {
      font-weight: 300;
      margin: 0;
    }

    p {
      margin: 5px 0 35px;
    }
  }
}