<div class="modal-header">
    <h2 mat-dialog-title><span trans>Report</span>&nbsp;"{{mediaItem.name}}"</h2>
    <button type="button" mat-dialog-close class="close-button" mat-icon-button tabindex="-1">
        <mat-icon svgIcon="close"></mat-icon>
    </button>
</div>

<mat-dialog-content>

    <div class="report-via-email">
        <form class="input-container email-address-input">
            <div class="form-group">
                <label for="email-subject" class="hidden">Reason:</label>
                <select name="email-subject" id="email-subject" [(ngModel)]="email.subject" [ngModelOptions]="{standalone: true}" required >
                    <option value="" selected> -- Please select a reason -- </option>
                    <option value="1">Playback issues</option>
                    <option value="2">Needs update</option>
                    <option value="3">Account issues</option>
                </select>
            </div>
            <div class="form-group">
                <div class="input-container email-message-input">
                    <label for="email-message" class="hidden">Please describe why are you reporting this media?</label>
                    <textarea id="email-message" [(ngModel)]="email.message" [ngModelOptions]="{standalone: true}" rows="10" placeholder="Your message" trans-placeholder></textarea>
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button mat-dialog-close type="button" mat-button class="cancel-button" trans>Close</button>
    <button mat-raised-button color="accent" class="submit-button" (click)="confirm()" [disabled]="loading" trans>Report</button>
</mat-dialog-actions>